body{
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
	padding: 0 auto;
}
.wrap1{
	width:800px;
	height:800px;
	margin: 0px;
	padding:30px 30px 100px 330px;
}
.top{
	margin-top:-30px;
	width: 800px;
	height: 50%;
	background-color: #73d8b8;
}
.bottom{
	width: 800px;
	height: 50%;
	background-color:whitesmoke;
}
.left{
	width:430px;
	height: 500px;
	background-color: #fff;
	box-shadow: 0px 10px 20px gainsboro;
	margin-top: -630px;
	margin-left:35px;
}
.left-card{
	padding:30px 100px 30px 20px; 
}
.fa-angle-double-right{
	margin-left:150px;
	font-size:20px;
	font-weight: 600;
	color: gainsboro;
}
.product{
	margin-top: 40px;
}
.left-head{
	text-align: center;
	font-size:15px;
	font-weight: 600;
	margin-top: 60px;
	color: #202060;
	padding-bottom: 20px;
	font-family: sans-serif;
}
.assurance{
	text-align: center;
	color: gainsboro;
	font-size:12px;
	padding-bottom:40px;
}
.normal{
	color:grey;
	margin-left: 50px;
	padding-right:20px;
}
.active{
	color: lightgrey;
	padding-right: 20px;
}
.active{
	color:lightgrey;
}
.right{
	width:430px;
	height: 500px;
	background-color: #fff;
	box-shadow: 0px 10px 20px gainsboro;
	margin-top: -630px;
	margin-left:40px;
}
.right-card{
	padding:30px 10px 30px 100px;
}
.fa-angle-double-arrow{
	margin-left:160px;
	font-size:20px;
	font-weight: 600;
	color: gainsboro;
}
.shield{
	margin-top: 40px;
	margin-left: -10px;
}
h4{
	text-align: center;
	color:#202060;
	font-size:14px;
	font-weight: 600;
	margin-top: 60px;
	padding-bottom: 20px;
	font-family: sans-serif;
}
.data{
	text-align: center;
	color:gainsboro;
	font-size:12px;
	padding-bottom:40px;
}
.middle-arrow{
	margin-left:40px;
}
.normal1{
	color:grey;
	position: absolute;
	left: 230px;
}
.active1{
	color: lightgrey;
	position: absolute;
	left: 170px;
}
.active2{
	color:lightgrey;
	position: absolute;
	left: 200px;
}
.middle-card{
	width:260px;
	height:580px;
	background-color: #fff;
	box-shadow: 0px 10px 30px gainsboro;
	margin-top: -680px;
	margin-left: -90px;
	padding:60px 20px 30px 30px;
}
.notes{
	margin-top:50px;
	width:180px;
}
.bills{
	color: gainsboro;
	font-size:12px;
	padding-bottom:40px;
}
.active3{
	color:lightgrey;
	position: absolute;
	left: 10px;
}
.normal2{
	color: grey;
	position: absolute;
	left: 50px;
	
}
.active4{
	color:lightgrey;
	position: absolute;
	left:80px;
}